<!DOCTYPE html>
<html lang="en">

<head>
  <title>VNA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="An Online shopping">
  <meta name="keywords" content="Bootstrap,Express">
  <meta name="author" content="Vijay">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"> -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <% include ./partials/header %>
    </div>
    <div class="row">
      <% include ./partials/product_content %>
    </div>
    <div class="row">
        <% include ./partials/footer %>
      </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
</body>

</html>